<div class="row main-container">
  <div class="center-form panel">
    <div class="panel-body">
      <h2 class="text-center">Log in</h2>
      <!--<form (ngSubmit)="login()" [ngFormModel]="form" #loginForm="ngForm">-->
        {{ response | json }}
        <form (ngSubmit)="login()">
        <div class="form-group has-feedback">
          <!--[class.has-error]="formEmail.dirty && !formEmail.valid"-->
          <!--<input type="text" ngControl="email" #formEmail="ngForm" class="form-control input-lg" [(ngModel)]="user.email" placeholder="Email" autofocus>-->
          <input type="text" placeholder="Email" class="form-control input-lg" >
          <i class="fa form-control-feedback fa-at"></i>
          <!--<ng-messages [errors]="formEmail.errors"></ng-messages>-->
        </div>
        <div class="form-group has-feedback">
          <!--[class.has-error]="formPassword.dirty && !formPassword.valid"-->
          <!--<input type="password" ngControl="password" #formPassword="ngForm" class="form-control input-lg" [(ngModel)]="user.password" placeholder="Password">-->
          <input type="password" placeholder="Password" class="form-control input-lg" >
          <i class="fa form-control-feedback fa-key"></i>
          <!--<ng-messages [errors]="formPassword.errors"></ng-messages>-->
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-success" [disabled]="true">Log in</button>
        <br>
        <p class="text-center text-muted">
          <small>Don&apos;t have an account yet?</small>
          <!--<a [routerLink]="['Ng2UIAuth/Ng2UIAuthSignup']">Sign up</a>-->
          <a>Sign up</a>
        </p>
        <div class="signup-or-separator">
          <h6 class="text">or</h6>
          <hr>
        </div>
      </form>

      <button class="btn btn-block btn-google-plus btn-success" (click)="authenticate('google')">
        <i class="fa fa-google-plus"></i>
        sign in with Google
      </button>
      <button class="btn btn-block btn-facebook btn-success" (click)="authenticate('facebook')">
        <i class="fa fa-facebook"></i>
        sign in with Facebook
      </button>
    </div>
  </div>
</div>
