<div class="row main-container">
  <div class="center-form panel">
    <div class="panel-body">
      <h2 class="text-center">Sign up</h2>
      <form>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-lg">
          <i class="fa form-control-feedback fa-at"></i>
        </div>
        <div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control input-lg" placeholder="Password">
            <i class="fa fa-key form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control input-lg" placeholder="Confirm Password">
            <i class="fa fa-key form-control-feedback"></i>
          </div>
        </div>
        <p class="text-center text-muted">
          <small>
            By clicking on Sign up, you agree to <a href="#">terms &amp; conditions</a> and <a href="#">privacy policy</a>
          </small>
        </p>
        <button type="submit" class="btn btn-lg btn-block btn-success">Sign up</button>
      </form>
    </div>
  </div>
</div>