<button class="btn btn-primary" (click)="splice()">Splice Widget</button>
<hr>
<button class="btn btn-primary" (click)="add1()">Add Widget 1</button>
<button class="btn btn-primary" (click)="add2()">Add Widget 2</button>
<my-widget [list-widget]="listWidgetString"></my-widget>