<h3>Sails.js + Angular 2 <em>Boilerplate</em></h3>

<div class="row">
  <div class="col-sm-12">
    <p>
      This is an example <em>boilerplate</em> for your <em>Sails.js + Angular 2</em> combo project.
      You can use this boilerplate as a starting point of your own awesome modern web application.
      In addition there are many example to show you how to get started.
    </p>

    <p>
      Below is detailed information about this <em>boilerplate</em>.
    </p>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>"Sides" of this boilerplate</h4>
    <ul class="list-unstyled">
      <li><strong>Backend</strong>
        <ul>
          <li>
            Only <em>REST API</em>, no frontend stuff - really just an API, nothing else.
          </li>
          <li>
            Passport.js for user authentication.
            <span class="text-muted">
                Supported auth types: local,
                <del data-tooltip="These are not yet implemented...">
                  twitter, facebook, google+, etc.
                </del>
            </span>
          </li>
          <li>
            JWT support for API calls.
            <span class="text-muted">
                JSON Web Tokens are used to to authenticate the user after a successfull login.
            </span>
          </li>
          <li>
            CORS support.
            <span class="text-muted">
                Really that is what we need to do when separating back- and frontend.
            </span>
          </li>
          <li>
            Real business logic and validations for data
            <span class="text-muted">
                Backend handles data related validations, logging, and user authentication.
            </span>
          </li>
        </ul>
      </li>
      <li><strong>Frontend</strong>
        <ul>
          <li>
            A single-page application
            <em class="text-muted">
              (also known as <strong>single-page interface or SPI</strong>) is a web application or web site that
              fits on a single web page with the goal of providing a more fluid user experience
              akin to a desktop application.
            </em>
          </li>
          <li>Angular 2</li>
          <li>Lightweight only client side application</li>
          <li>Authentication to backend</li>
          <li>Route examples for views</li>
          <li>Support for WebSocket communication with backend</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>Why do all this?</h4>
    <ul class="list-unstyled">
      <li>
        This is <em>"the new way"</em> to build modern web applications. <em>Although there are different
        opinions about this - of course</em>.
      </li>
      <li>
        <strong>Main reasons</strong>
        <ul>
          <li>
            I'm interested in the architecture and structure of modern web applications
            - <em>and this is my opinion of it.</em>
          </li>
          <li>
            To help the community to do stuff like this. These kind of <em>full</em> examples don't exist.
          </li>
        </ul>
      </li>
      <li>
        <strong>Pros</strong>
        <ul>
          <li>
            One language (javascript) to <em>rule</em> both sides.
            <span class="text-muted">
                Easier to code, you can use the same code on both sides (eg. validation rules).
            </span>
          </li>
          <li>
            Developers can focus on the "side" that is familiar.
            <span class="text-muted">
                This will make it easier for <em>new</em> people to work with your project.
            </span>
          </li>
          <li>
            Totally separated back- and frontend sides.
            <span class="text-muted">
                These are totally <em>separate</em> applications that communicate with each other
                via the specified API.
            </span>
          </li>
          <li>
            Easier deployments.
            <span class="text-muted">
                You can deployment back- and frontend applications at different times.
            </span>
          </li>
          <li>
            Ability to build <em>multiple</em> frontend applications for your backend.
            <span class="text-muted">
                You can use different frontend frameworks:
                <em>angular, ember, knockout, etc.</em>
            </span>
          </li>
          <li>
            Ability to <em>change</em> your backend.
            <span class="text-muted">
                If you get some <em>real-show-stopper</em> bugs / features / limitations with sails.js
                backend, you can change that to anything you like: <em>C#, PHP, Ruby, etc.</em> Just
                implement your API the same way - nothing else.
            </span>
          </li>
        </ul>
      </li>

      <li>
        <strong>Cons</strong>
        <ul>
          <li>
            Complex structure of application.
            <span class="text-muted"></span>
          </li>
          <li>
            More expensive to maintain that traditional web application.
            <span class="text-muted">Basically at minimum two servers to run this.</span>
          </li>
          <li>
            API is the <em>thing</em> - so be very carefully when making changes.
            <span class="text-muted">
                It is easy to implement versioning to your API endpoints though.
            </span>
          </li>
        </ul>
      </li>
    </ul>

    <h4>Resources, guides, etc.</h4>
    <ul>

      <li>
        <a href="http://lostechies.com/bradcarleton/2014/03/25/frontend-backend-gotta-keepem-separated/" target="_blank">Frontend & Backend: Gotta Keep’em Separated</a>
      </li>
      <li>
        <a href="http://programmers.stackexchange.com/questions/107503/is-it-common-to-separate-back-end-and-front-end-into-two-positions-on-web-develo" target="_blank">Is it common to separate
          back-end and front-end into two positions on web development projects?</a>
      </li>
      <li>
        <a href="http://stackoverflow.com/questions/23871853/concerns-about-separating-front-end-and-back-end-with-a-nodejs-ui-server" target="_blank">Concerns about separating front-end and back-end
          with a NodeJS UI server</a>
      </li>
      <li>
        <a href="http://www.linkedin.com/groups/Is-development-industry-moving-separate-40949.S.5808929533427990532" target="_blank">Is the development industry moving to separate Back-end and
          Front-end developers?</a>
      </li>
      <li>
        <a href="https://medium.com/opinionated-angularjs/techniques-for-authentication-in-angularjs-applications-7bbf0346acec" target="_blank">Techniques for authentication in AngularJS
          applications</a>
      </li>
      <li>
        <a href="http://angular-tips.com/blog/2014/05/json-web-tokens-introduction/" target="_blank">Json Web Tokens: Introduction</a>
      </li>
      <li>
        <a href="http://angular-tips.com/blog/2014/05/json-web-tokens-examples/" target="_blank">Json Web Tokens: Examples</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>Libraries used and other stuff</h4>
    <ul class="list-unstyled">
      <li>
        <strong>Backend</strong>
        <ul>
          <li>
            <a href="http://sailsjs.org/" target="_blank">sails.js</a>
            <span class="text-muted">
                Sails makes it easy to build custom, enterprise-grade Node.js apps.
                It is designed to emulate the familiar MVC pattern of frameworks like
                Ruby on Rails, but with support for the requirements of modern apps:
                data-driven APIs with a scalable, service-oriented architecture.
            </span>
          </li>
          <li>
            <a href="http://passportjs.org/" target="_blank">Passport</a>
            <span class="text-muted">
                Passport is authentication middleware for Node.js. Extremely flexible
                and modular, Passport can be unobtrusively dropped in to any Express-based
                web application. A comprehensive set of strategies support authentication
                using a username and password, Facebook, Twitter, and more.
            </span>
            <ul class="list-inline">
              <li>
                <a href="https://github.com/jaredhanson/passport-local" target="_blank">Local</a>
              </li>
              <li>
                <del data-tooltip="Not yet implemented...">
                  <a href="https://github.com/jaredhanson/passport-twitter" target="_blank">Twitter</a>
                </del>
              </li>
              <li>
                <del data-tooltip="Not yet implemented...">
                  <a href="https://github.com/jaredhanson/passport-github" target="_blank">GitHub</a>
                </del>
              </li>
              <li>
                <del data-tooltip="Not yet implemented...">
                  <a href="https://github.com/jaredhanson/passport-facebook" target="_blank">Facebook</a>
                </del>
              </li>
              <li>
                <del data-tooltip="Not yet implemented...">
                  <a href="https://github.com/jaredhanson/passport-google" target="_blank">Google</a>
                </del>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/auth0/node-jsonwebtoken" target="_blank">JsonWebToken</a>
            <span class="text-muted">
                JSON Web Token implementation (symmetric and asymmetric)
            </span>
          </li>
          <li>
            <a href="https://github.com/bredikhin/barrels" target="_blank">barrels</a>
            <span class="text-muted">
                Simple DB Fixtures for Sails.js (^0.10.x)
            </span>
          </li>
          <li>
            <a href="https://github.com/tobie/ua-parser" target="_blank">ua-parser</a>
            <span class="text-muted">
                A multi-language port of Browserscope's user agent parser.
            </span>
          </li>
        </ul>
      </li>
      <li>
        <strong>Frontend</strong>
        <ul>
          <li>
            <em>TODO</em>
          </li>
        </ul>
      </li>
      <li>
        <strong>Common stuff</strong> <span class="text-muted">Libraries that are used on both sides</span>
        <ul>
          <li>
            <a href="http://lodash.com/" target="_blank">Lo-Dash</a>
            <span class="text-muted">
                A utility library delivering consistency, customization, performance, & extras.
            </span>
          </li>
          <li>
            <a href="http://momentjs.com/" target="_blank">Moment.js</a>
            +
            <a href="http://momentjs.com/timezone/" target="_blank">Moment Timezone</a>
            <span class="text-muted">
                Parse, validate, manipulate, and display dates in javascript.
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<p>
  Use following credentials for login:
</p>

<pre>
  username: demo
  password: demodemodemo
</pre>

<p>
  Detailed info at <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate" target="_blank">GitHub</a>.
</p>