<my-spinner [isRunning]="true"></my-spinner>
<my-header></my-header>
<div id="page-container" class="clearfix">
  <aside id="page-leftbar">
    <my-left-sidebar></my-left-sidebar>
  </aside>
  <aside id="page-rightbar">
    <my-right-sidebar></my-right-sidebar>
  </aside>
  <main id="page-content">
    <!--<router-outlet></router-outlet>-->
    <my-router-outlet></my-router-outlet>
  </main>
</div>
<my-footer></my-footer>