<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">BSS-Insight</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav">
        <li [ngClass]="(isActive('/dashboard') || isRoot()) ? 'active' : 'not-active'">
          <a [routerLink]="['Dashboard']">Dashboard</a>
        </li>
        <!--<li [ngClass]="isActive('/about') ? 'active' : 'not-active'">-->
          <!--<a [routerLink]="['About']">About</a>-->
        <!--</li>-->
        <!--<li [ngClass]="isRouteActive('About') ? 'active' : 'not-active'">-->
          <!--<a [routerLink]="['About']">About</a>-->
        <!--</li>-->
        <!--<li [class.active]="_router.isRouteActive(_router.generate(['About']))">-->
          <!--<a [routerLink]="['About']">About</a>-->
        <!--</li>-->
        <!--<li [ngClass]="isActive('/examples/book') ? 'active' : 'not-active'" >-->
          <!--<a [routerLink]="['Examples/Book']">Ex Book</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]="['Examples/Author']">Ex Author</a>-->
        <!--</li>-->
        <li>
          <a [routerLink]="['Toastr']">Toastr</a>
        </li>
        <li>
          <a [routerLink]="['Ng2UIAuth/Ng2UIAuthLogin']">Login Social</a>
        </li>
        <li>
          <a [routerLink]="['Ng2UIAuth/Ng2UIAuthSignup']">SignUp</a>
        </li>
        <li>
          <a [routerLink]="['WidgetTest']">Widget</a>
        </li>
        <li>
          <a [routerLink]="['NgOnChange']">NgOnChange</a>
        </li>
        <li class="pull-right" dropdown (on-toggle)="toggled($event)" [ngClass]="isActive('/login') ? 'active' : 'not-active'" *ngIf="authorized()">
          <a class="dropdown-toggle username" id="userinfo-dropdown" dropdownToggle>
            <span>Matt Smith <i class="fa fa-angle-down"></i></span>
            <img src="src/assets/images/dangerfield.png" alt="Dangerfield">
          </a>
          <ul class="dropdown-menu userinfo arrow" aria-labelledby="userinfo-dropdown">
            <li class="userlinks">
              <ul class="dropdown-menu">
                <li><a href="#">Edit Profile <i class="pull-right fa fa-fw fa-pencil"></i></a></li>
                <li><a href="#">Account <i class="pull-right fa fa-fw fa-user"></i></a></li>
                <li><a href="#">Settings <i class="pull-right fa fa-fw fa-cog"></i></a></li>
                <li class="divider"></li>
                <li><a href="#">Earnings <i class="pull-right fa fa-fw fa-dollar"></i></a></li>
                <li><a href="#">Statement <i class="pull-right fa fa-fw fa-bars"></i></a></li>
                <li><a href="#">Withdrawals <i class="pull-right fa fa-fw fa-credit-card"></i></a></li>
                <li class="divider"></li>
                <li><a href="" class="text-right" (click)="logout($event)">Logout</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="pull-right" [ngClass]="isActive('/login') ? 'active' : 'not-active'" *ngIf="!authorized()">
          <a [routerLink]="['Login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>
