a.username span {
    font-weight: 600;
    padding-right: 8px;
    top: 2px;
    position: relative;
}

a.username img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    float: right;
}

.dropdown-menu.userinfo {
    padding: 0px 15px;
    min-width: 200px;
}

.dropdown-menu.userinfo:before, .dropdown-menu.userinfo:after {
    content: " ";
    display: table;
}

.dropdown-menu.userinfo .userlinks ul {
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
}

.dropdown-menu.userinfo .userlinks ul i.pull-right {
    margin-top: 2px;
}

.dropdown-menu.userinfo .userlinks ul li a {
    white-space: inherit;
}

.dropdown-menu.userinfo .userlinks ul li {
    margin: 0 -15px;
}

.dropdown-menu.arrow:before {
    position: absolute;
    top: -8px;
    right: 11px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}

.dropdown-menu.userinfo li {
    list-style: none;
}