<accordion [closeOthers]="oneAtATime">
  <accordion-group #group *ngFor="#g of groups">
    <div accordion-heading>
      {{ g.title }}
      <i class="pull-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    {{ g?.content }}
  </accordion-group>
</accordion>
