h3 {
    text-align: center;
    margin-top: 0;
}

.progress-row .col-md-3 {
    width: 25%;
}

.info-tiles {
    background: #854e9d;
    height: 70px;
    overflow: hidden;
    text-align: center;
    color: #FFFFFF;
}

.info-tiles > div {
    float: left;
    width: 50%;
    height: 70px;
}

.info-tiles > div + div {
    background: #9d2954;
}

.info-tiles .tiles-heading {

}

.info-tiles .tiles-body {
    font-size: 30px;
}

.tile-grid-row {

}
