<div class="container">
  <h3>Dashboard</h3>
  <div class="progress-row">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="info-tiles tiles-danger">
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="info-tiles tiles-success">
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="info-tiles tiles-success">
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="info-tiles tiles-midnightblue">
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
              <div>
                <div class="tiles-heading">Title</div>
                <div class="tiles-body">100%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile-grid-row">
    <a (click)="addTile()" class="btn btn-primary">Add Tile</a>
    <div [ngGrid]="gridConfig">
      <div *ngFor="#editItem of tiles; #i = index" [ngGridItem]="{'dragHandle': '.handle', 'resizable': false,'col': editItem.item.col}"
           (itemChange)="updateItem(i, $event)"
           (resize)="onResize(i, $event)"
           (drag)="onDrag(i, $event)">
        <a (click)="removeTile(i)" class="btn btn-primary">Remove Tile</a>
        <div class="handle"></div>
        <tile-card
            [hidden]="editItem.editing"
            [tile]="editItem.item">
        </tile-card>
        <button
            [hidden]="editItem.editing"
            (click)="editItem.editing = true">
          edit
        </button>
        <tile-editor
            (saved)="onSaved(editItem, $event)"
            (canceled)="onCanceled(editItem)"
            [hidden]="!editItem.editing"
            [tile]="editItem.item">
        </tile-editor>
      </div>
    </div>
  </div>
</div>
