body {
    cursor: default;
    /*font-family: 'PT Sans', sans-serif;*/
    overflow-y: scroll;
}

header .navbar-nav {
    float: none;
}

.container {
    max-width: 100%;
    min-width: 100%;
}

#page-container {
    margin-bottom: 30px;
    margin-top: 50px;
}

#page-leftbar {
    float: left;
    white-space: nowrap;
    position: relative;
    width: 230px;
}

#page-rightbar {
    float: right;
    background: #353e49;
    white-space: nowrap;
    position: relative;
    width: 230px;
}

#page-leftbar + #page-content {
    margin-left: 230px;
}

#page-rightbar + #page-content {
    margin-right: 230px;
}

#page-leftbar + #page-rightbar + #page-content {
    margin-left: 230px;
    margin-right: 230px;
}

#page-content {
    background: #f3f4f6;
    height: 100%;
}

#page-content .container {
    padding: 20px;
}

footer .navbar {
    max-height: 25px;
    min-height: 25px;
    text-align: center;
}

footer .navbar .navbar-nav {
    float: none;
}

footer .navbar .navbar-nav > li {
    display: inline-block;
    float: none;
}

footer .navbar .navbar-nav > li > a {
    font-size: 11px;
    line-height: 25px;
    padding: 0 10px;
}

footer .navbar .navbar-nav > li > a .fa {
    color: #999;
    font-size: 14px;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

footer .navbar .navbar-nav > li > a:hover {
    color: #3399f3;
}

footer .navbar .navbar-nav > li > a:hover .fa {
    color: #337bd5;
}
