<div class="form-login">
  <form #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        autocomplete="off"
        novalidate>
    <h2 class="title">Please login</h2>
    <div class="form-group" [ngClass]="{ 'has-error': username.touched && !username.valid }">
      <input id="username" type="text" class="form-control username" placeholder="enter username or email" autofocus autocomplete="off"
             [(ngModel)]="model.username"
             ngControl="username"
             #username="ngForm"
             required/>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': password.touched && !password.valid }">
      <input id="password" type="password" class="form-control password" placeholder="enter password" autocomplete="off"
             [(ngModel)]="model.password"
             ngControl="password"
             #password="ngForm"
             required/>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.form.valid">Login</button>
  </form>
</div>
